@keyframes hover {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5%, 0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0.5;
    transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0.5;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#connectly-wrapper {
  .expanded-card, .minimized-card {
    &.entering {
      animation-name: slide-left;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
    }

    &.exiting {
      animation-name: slide-left;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-direction: reverse;
    }
  }

  .menu, .chat {
    &.entering {
      animation-name: slide-up;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
    }

    &.exiting {
      animation-name: slide-up;
      animation-duration: 0.2s;
      animation-timing-function: ease-in-out;
      animation-direction: reverse;
    }

    &:not(.entering) > a:hover {
      animation-name: hover;
      animation-duration: 0.1s;
      animation-timing-function: ease-in-out;
      transform: translate(-5%, 0);
    }
  }
}
